/* Sidebar */
.Sidebar {
  width: 160px;
  max-width: 160px;
  margin-left: 110px;
  flex-shrink: 0;
}

.Sidebar li:not(.Seperator) {
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--gripLuminousDark, #282c3f);
}

.Seperator {
  height: 25px;
  position: relative;
}
.Seperator::before {
  content: '';
  position: absolute;
  border-left: 1px dashed var(--gripWhiteLilac, #f7f7fc);
  height: 100%;
  left: 8px;
  top: -1px;
}
.Circle {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 3px solid var(--gripHeather, #b5bdcd);
}

.Active .Circle {
  border: 3px solid var(--gripPrimaryGreen, #00b8b7);
  background-color: var(--gripWhite, #ffffff);
}
.Sidebar .Active {
  color: var(--gripBlue, #00357c) !important;
  font-weight: 600 !important;
}

.Sidebar:global(.HIDE) {
  display: none !important;
}
.Complete .Circle {
  border: 3px solid var(--gripPrimaryGreen, #00b8b7);
  background: var(--gripPrimaryGreen, #00b8b7);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gripWhite, #ffffff);
  font-size: 12px;
  border-radius: 50%;
}

.Complete + .Seperator::before {
  border: 2px solid var(--gripPrimaryGreen, #00b8b7);
  left: 6px;
}

.Sidebar .Active ~ li {
  color: var(--gripLuminousGrey, #555770);
}

.ItemContent {
  gap: 8px;
}

@media screen and (max-width: 1024px) {
  .Sidebar {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .Sidebar {
    width: auto;
    max-width: unset;
    position: sticky;
    top: 0;
    z-index: 11;
    background: var(--gripWhite, #ffffff);
    padding: 10px 20px;
    margin: 0 -20px;
  }
  .Sidebar ul {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .Sidebar ul::before {
    content: '';
    position: absolute;
    left: 50%;
    width: calc(100% - 50px);
    border-top: 1px dashed var(--gripWhiteLilac, #f7f7fc);
    top: 8px;
    transform: translateX(-50%);
  }
  .Sidebar li {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 25%;
  }
  .Seperator {
    display: none;
  }
  .ItemContent {
    flex-direction: column;
  }

  .Sidebar li:first-child {
    align-items: flex-start;
  }
  .Sidebar li:last-child {
    align-items: flex-end;
  }
  .Sidebar li:not(.Seperator) {
    flex-direction: column;
  }
  .Sidebar li::after,
  .Sidebar li::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 50%;
    background-color: var(--gripPrimaryGreen, #00b8b7);
    height: 3px;
    z-index: -1;
    opacity: 0;
  }
  .Sidebar li::after {
    right: 0;
  }
  .Sidebar li::before {
    left: 0;
  }

  .Sidebar li.Complete::before,
  .Sidebar li.Complete::after {
    opacity: 1;
  }

  .Sidebar li.Complete:first-child::before,
  .Sidebar li.Complete:last-child::before,
  .Sidebar li.Active:last-child::before {
    opacity: 1;
    width: 100%;
  }
  .Sidebar li.Complete:first-child::before {
    left: 20px;
  }
  .Sidebar li.Complete:last-child::before {
    right: 20px;
    left: auto;
  }
  .Sidebar li.Complete:last-child::after {
    opacity: 0;
  }
  .Sidebar li.Active:not(:first-child):before {
    opacity: 1;
  }

  .Sidebar li.Active:last-child::before {
    right: 20px;
    left: auto;
  }
  .Sidebar li:not(:first-child, :last-child) {
    width: 33.33%;
  }
}
