.mainWrapper {
  flex-direction: column;
}
.itemPaper {
  width: calc(33% - 11px);
  min-height: 248px;
  display: flex;
}
.itemWrapper {
  flex-wrap: wrap;
  gap: 14px;
}
.title {
  margin-bottom: 17px;
}
.circularSkeleton {
  border-radius: 50% !important;
}
.contenWrapper {
  flex-direction: column;
  gap: 13px;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .mainWrapper {
    overflow: hidden;
    width: auto;
    margin: 0 -20px;
    padding-left: 20px;
  }
  .itemPaper {
    padding: 9px;
    width: calc(45% - 11px);
    flex-shrink: 0;
  }
  .itemWrapper {
    flex-wrap: nowrap;
  }
}
