.SidebarLinkCard li {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.SidebarLinkCard li + li {
  margin-top: 4px;
}
.SidebarLinkCard li:global(.Active) {
  background: var(--gripLighterOne);
  transition: 0.1s ease-in-out;
}

.SidebarLinkCard li span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.SidebarLinkCard li span:nth-child(1) {
  color: var(--gripLuminousGreyPlace);
}
.SidebarLinkCard li span:nth-child(2) {
  font-weight: 500;
  color: var(--gripBlue);
}

.SidebarLinkCard li:global(.Active) span {
  color: var(--gripBlue);
}
