.verticalDots {
  height: 15px;
  cursor: pointer;
  padding: 0 4px;
}

.verticalDotsContainer {
  padding-left: 16px;
}

.subText {
  gap: 3px;
}

@media screen and (max-width: 748px) {
  .verticalDots {
    height: 15px;
    cursor: pointer;
    margin-left: 15px;
  }
  .verticalDotsContainer {
    padding: 0;
  }
}
