.DownloadCasModal {
  max-width: 400px !important;
}

.ledgerTXNDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gripLuminousGrey);
}

@media screen and (min-width: 992px) {
  .attentionRequired {
    border: 1px solid var(--gripMercuryThree, #e6e6e6);
    border-radius: 12px;
    padding: 15px 16px 0 15px;
  }
  .ledgerTXNDescription {
    margin: 16px 0 40px;
  }
}

@media screen and (max-width: 992px) {
  .attentionRequired {
    padding: 40px 0 11px;
  }
  .ledgerDescription {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--gripLuminousDark);
  }
  .allTxns {
    margin-top: 44px !important;
  }
}
