.MainContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.NoDataHeader {
  color: var(--gripLuminousDark, #282c3f);
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}

.documentNote {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
}

.noteHeading {
  font-weight: 600;
}

.noteContent {
  color: var(--gripLuminousGreyPlace, #777777);
  width: 652px;
}

.noteLink {
  font-weight: 600;
  color: var(--gripBlue, #00357c);
  text-decoration: underline;
}
