.partialSold {
  padding: 3px 5px;
  border: 1px solid var(--gripGreyExtra, #f1f3f6);
  gap: 3px;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: -24px;
  background-color: var(--gripWhite, #ffffff);
  margin-bottom: 6px;
  cursor: pointer;
}

.partialSold > span {
  font-weight: 500;
  font-size: 9px;
  line-height: 10px;
  color: var(--gripLuminousDark, #282c3f);
}

@media screen and (max-width: 768px) {
  .partialSold {
    gap: 5px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
  }
  .partialSold > span {
    font-size: 10px;
    margin-top: 2px;
  }
}
