.desktopContainer {
  background: linear-gradient(#00b8b71c, #ffffff00);
  border-radius: 10px;
  padding: 23px;
}

.navigation {
  margin-top: 23px;
  gap: 10px;
}

.navigationButton {
  cursor: pointer;
}

.navigationButtonDisabled {
  cursor: default;
  filter: grayscale(100%);
}

.pagination {
  gap: 4px;
}

.swiperBullet {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: none;
  background-color: var(--gripAlto, #d9d9d9);
  cursor: pointer;
  outline: none;
}

.swiperBulletActive {
  height: 8px;
  width: 25px;
  border-radius: 5px;
  background-color: var(--gripBlue, #00357c);
}

.selectMenuIcon {
  color: var(--gripLuminousDark, #282c3f) !important;
}

.formControlRoot {
  min-width: 100% !important;
}

.select {
  font-weight: 500 !important;
}

.mobileContainer {
  display: none;
}

.Arrows {
  font-size: 32px;
  visibility: hidden;
  color: var(--gripAccentGreen);
}

@media screen and (max-width: 768px) {
  .desktopContainer {
    display: none !important;
  }
  .mobileContainer {
    display: block;
  }
}
