.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slideTrack {
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-name: scroll;
  animation-iteration-count: infinite;
  display: flex;
  gap: 20px;
  max-width: 100%;
  will-change: transform;
}


.slideTrack:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(
      calc(var(--slideWidth, -290px) * var(--slideCount, 7)),
      0,
      0
    );
  }
}
