.AssetCardComponent {
  background: var(--gripWhite);
  border: 1px solid var(--gripGallerySolid);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
}
.DefaultCursor {
  cursor: default;
}
.CardHeader {
  display: flex;
  gap: 8px;
}
.HeaderRight {
  margin-left: auto;
}
.ProductType {
  background: var(--gripLinen);
  border-radius: 5px;
  padding: 6px;
  font-weight: 500;
  font-size: 9px;
  line-height: 16px;
  color: var(--gripLuminousGrey);
}

.ProductType:global(.InventoryFinancing) {
  background: var(--gripHawkesBlue);
}
.ProductType:global(.CommercialProperty) {
  background: var(--gripTara);
}
.ProductType:global(.StartupEquity) {
  background: var(--gripHummingBird);
}
.ProductType:global(.Bonds) {
  background: var(--gripSelago);
}

.CardBody {
  margin: 15px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}

.AssetInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gripAbbey);
}

.AssetInfo h5 {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.AssetInfo p {
  font-weight: 400;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}

.AssetInfo:nth-child(2) {
  text-align: center;
}

.AssetInfo:last-child {
  text-align: right;
}

.AssetCardComponent:hover {
  box-shadow: 0px 3.972px 3.972px rgba(0, 0, 0, 0.07);
  transition: 0.3s ease-in-out;
}

.CardFooter {
  display: flex;
  flex-direction: column;
}

.FooterRight button {
  width: 100%;
  height: 40px;
}
.FooterLeft {
  display: flex;
  gap: 8px;
  height: 14px;
  align-items: center;
  margin: 18px 0;
}
.DealBtn {
  padding: 8px 15px;
  height: auto;
  border-radius: 5px;
}

.DealBtn span {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.RepeatInvestor {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--gripEbonyClay);
}

.Flag {
  display: flex;
  align-items: center;
  gap: 6px;
}

.Flag + .Flag {
  border-left: 1px solid var(--gripMercury);
  padding-left: 8px;
}

.DiscoverPartnerShipText {
  font-size: 9px !important;
  line-height: 12px !important;
}

.AssetDescription {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--gripLuminousGrey);
  padding: 8px 0 12px;
  border-bottom: 1px dashed var(--gripWhiteLilac, #f7f7fc);
  min-height: 53px;
}

.AssetInfoImage {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.CutOutValue {
  color: var(--gripAbbey, #484e54);
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 4px;
}

.MainValueCutOut {
  color: var(--gripAbbey, #484e54);
  font-size: 10px;
  line-height: 20px;
}

.iconBadge {
  font-size: 13px;
  color: var(--gripStTropaz, #2b4c8c);
}

@media screen and (min-width: 768px) {
  .CardFooter {
    gap: 8px;
  }
}

@media screen and (max-width: 480px) {
  .AssetCardComponent {
    padding: 9px;
  }
  .RepeatInvestor {
    font-size: 10px;
    line-height: 12px;
  }
  .Flag + .Flag {
    padding-left: 4px;
  }
}

@media screen and (max-width: 360px) {
  .ProductType {
    font-size: 8px;
    line-height: 1;
    white-space: nowrap;
  }
  .AssetInfo h5 {
    font-size: 10px;
  }
  .AssetInfo p,
  .RepeatInvestor {
    font-size: 8px;
  }
}
