.Wrapper {
  gap: 24px;
}

.Txt {
  color: var(--gripLuminousGrey, #555770);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.SecurityTxt {
  margin: 12px 0 0;
}

.Mt12 {
  margin-top: 12px;
}

.Disabled {
  opacity: 0.5;
  pointer-events: none;
}
