.ProgressBar {
  width: 100%;
  background: var(--gripWhiteLilac, #f7f7fc);
  border-radius: 4px;
  height: 4px;
  overflow: hidden;
  position: relative;
}
.ProgressBar > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--gripPrimaryGreen, #00b8b7);
  border-radius: 4px;
}
