.container {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.Table {
  border-collapse: collapse;
}

.tableContainer {
  flex: 1;
}

.Table td {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--gripEbonyClay, #292c3e);
  border-bottom: 1px solid var(--gripMercuryThree, #e6e6e6);
}

.Table th {
  padding-bottom: 10px;
}

.Table th,
.Table td,
.Table th:last-child,
.Table td:last-child {
  text-align: center;
}

.Table th:first-child,
.Table td:first-child {
  text-align: left;
}

.Table tr:first-child td {
  border-top: 1px solid var(--gripMercuryThree, #e6e6e6);
}

.Table tr:last-child td {
  border-bottom: none !important;
}

.Table tr td:last-child {
  max-width: 200px;
  word-wrap: break-word;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchBox {
  top: unset !important;
  min-width: unset !important;
  width: 220px;
}

.header > h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--gripLuminousDark, #282c3f);
}

.selectRoot {
  width: unset !important;
}

.formControlRoot {
  min-width: unset !important;
}

.select > div {
  background-color: var(--gripWhiteLilac, #f7f7fc) !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  border: unset !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.partnerName {
  font-size: 10px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100px;
  height: 26px;
  border-radius: 6px;
  background-color: var(--gripWhiteLilac, #f7f7fc);
}
.selectMenuIcon {
  color: var(--gripWealthText, #696b74) !important;
}

.filter {
  gap: 14px;
}

.progressBar {
  width: 120px;
  background: var(--gripWhiteLilac, #f7f7fc);
  border-radius: 4px;
  height: 7px;
  overflow: hidden;
  position: relative;
}

.progressBar > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--gripPrimaryGreen, #00b8b7);
}

.progressNumbers {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
}

.desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  margin-top: 4px;
}

.units {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  margin-top: 4px;
  color: var(--gripLuminousGrey, #555770);
}

.verticalDots {
  height: 15px;
  cursor: pointer;
  padding: 0 4px;
}

.LeasingInvestmentsBody > ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.LeasingInvestmentsBody > ul > li {
  width: calc(50% - 10px);
}

@media screen and (max-width: 767px) {
  .container {
    display: none;
  }
}
