.NotificatioToggleContainer {
  margin-top: 20px;
}

.SingleNotificationContainer {
  width: max-content !important;
}

.NotificationText {
  margin: 0px 26px 0px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--gripLuminousDark);
  white-space: nowrap;
}

.IconContainer {
  line-height: 0;
}

.Heading {
  font-weight: 600;
  color: var(--gripEbonyClay);
}

/* Desktop */
@media screen and (min-width: 768px) {
  .Heading {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .SubLabel {
    display: none;
  }

  .NotificatioToggleContainer {
    justify-content: center !important;
    align-items: center !important;
  }

  .NotificationsContainer {
    border-top: 1px solid var(--gripMercuryThree, #e6e6e6);
    padding: 24px 0;
    margin-top: 42px;
  }

  .SingleNotificationContainer {
    align-items: center;
    border-right: 1px solid var(--gripMercuryThree, #e6e6e6);
    padding: 12px 30px;
  }

  .SingleNotificationContainer:last-child {
    border-right: none;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .NotificatioToggleContainer {
    flex-direction: column;
    margin-top: 25px;
    gap: 25px;
  }
  .NotificationText {
    width: 100%;
    margin: 0px 26px 0px 10px;
    line-height: 22px;
  }

  .SingleNotificationContainer {
    width: 100% !important;
  }

  .NotificationsContainer {
    padding: 42px 0;
  }

  .Heading {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  .SubLabel {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--gripLuminousGrey);
  }
}

/* Below Regular Phones */
@media screen and (max-width: 360px) {
  .NotificationText {
    font-size: 12px;
  }
  .NotificatioToggleContainer {
    gap: 15px;
    margin-top: 15px;
  }
}
