.FlexRow {
  gap: 16px;
  justify-content: space-between;
}
.Wrapper {
  gap: 35px;
}
.Widget {
  gap: 20px;
}
.FlexCol {
  flex: 1;
  gap: 16px;
  width: 100%;
}

.NoKyc {
  flex-direction: column;
  margin-top: 50px;
}

.Widget:empty {
  display: none;
}

@media screen and (max-width: 767px) {
  .FlexCol {
    flex-wrap: wrap;
  }
}
