.Wrapper {
  color: var(--gripBlue, #00357c);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.Copy {
  font-size: 14px;
}
