.ToolTipOverlay {
  max-width: 300px;
  z-index: 99999999;
  pointer-events: none !important;
}

.ToolTipOverlay :global(.rc-tooltip-inner) {
  background: var(--gripLuminousDark);
  border-radius: 8px 8px 0px;
  box-shadow: none !important;
  pointer-events: none !important;
}

.ToolTipData > span {
  vertical-align: middle;
}

.ToolTipOverlay :global(.rc-tooltip-inner) span {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 24px;
  color: var(--gripWhiteLilac, #f7f7fc) !important;
  pointer-events: none !important;
}
.ToolTipOverlay :global(.rc-tooltip-arrow) {
  border-top-color: var(--gripLuminousDark);
  border-width: 20px 0px 0px 30px;
  bottom: 0px;
  pointer-events: none !important;
}

.ToolTip {
  background: var(--gripLuminousDark) !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  pointer-events: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: var(--gripWhiteLilac, #f7f7fc) !important;
  padding: 12px !important;
  white-space: pre-line;
}

.Arrow::before {
  background-color: var(--gripLuminousDark) !important;
}

.ToolTipData {
  cursor: pointer;
  line-height: 1.5;
  font-size: 12px;
}

.TooltipPopper {
  z-index: 99999999 !important;
}
