.loginDetailDiv {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  color: var(--gripLuminousDark);
  gap: 2px;
  font-size: 14px;
}

.margin {
  margin-top: 20px;
  width: 100%;
}

.resendDiv {
  display: flex;
  align-items: cetner;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    margin: 0 auto;
  }
}

.inputFieldSet {
  border: 2px solid var(--gripBlue, #00357c);
  border-radius: 8px;
  margin-top: 32px;
  width: 100%;
  padding: 10px;
  height: 64px;
  position: relative;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 100px;
}

.legend {
  display: none;
}
.mailMobileInput {
  width: 100%;
  border: none;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
.mailMobileInput:focus {
  outline: none;
}
.mailMobileInput:focus + .legend {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  color: var(--gripBlue, #00357c);
  position: absolute;
  background-color: var(--gripWhite, #ffffff);
  top: -10px;
  left: 20px;
}

.mailMobileInput:focus::placeholder {
  color: transparent;
}
.loginButton {
  margin-bottom: 16px;
  margin-top: 20px;
}

.loginText {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  align-items: center;
  text-align: center;
}
.loginDetails {
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gripLuminousDark);
  text-align: center;
}
.changeLink {
  color: var(--gripBlue, #00357c);
  cursor: pointer;
  margin-left: 5px;
  font-weight: 600;
}
.redirectionText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--gripLuminousDark, #282c3f);
}
.commonFont {
  font-family: var(--fontFamily, "'Inter', sans-serif");
  font-style: normal;
}
.resendImage {
  margin-right: 10px !important;
}
.loginIDText {
  letter-spacing: 0.5px;
}

.resendText {
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--gripBlue);
}
.resendCounter {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--gripLuminousDark);
}

.OtpWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .loginDetailDiv {
    justify-content: center;
    gap: 0px;
    width: 100%;
  }
  .loginIDText {
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
  .loginText {
    font-size: 18px;
    line-height: 24px;
  }
  .inputContainer {
    padding-top: 0;
  }
}
