.Wrapper {
  max-width: 370px;
  flex: 1;
  gap: 16px;
}
.FormWrapper {
  gap: 24px;
  margin-top: 12px;
  width: 100%;
}
.Select {
  width: 100%;
}
.Note {
  margin-top: 0;
}

.FieldWithLabel {
  gap: 5px;
}

.FieldWithLabel > label {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gripLuminousDark, #282c3f);
  opacity: 0.5;
}
.StepTitle {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
.FullWidth {
  width: 100%;
  max-width: 100%;
}
.UploadBtn {
  max-width: 335px;
  margin-top: 10px;
}
.UploadNote {
  margin-top: -8px;
}

.radioRoot {
  color: var(--gripBlue, #00357c) !important;
}

.radioLabel {
  color: var(--gripLuminousDark, #282c3f);
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
}

.RadioGroup {
  gap: 28px;
}

.labelRoot {
  margin-right: 0 !important;
}

.FetchModal :global(.Card) {
  padding: 32px;
}

.FetchModal :global(h3) {
  margin-top: 16px;
}

.Field {
  gap: 10px;
}

.Error {
  color: var(--gripDanger, #ff5c5c);
  font-size: 12px;
}

.NoteExisting {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.AccountDetailsContainer {
  color: var(--gripLuminousGrey, #555770);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -6px;
  margin-bottom: 12px;
}

.AccountDetailsContainer span {
  font-weight: 600;
  text-transform: capitalize;
}

.ifscVerificationIssueNote {
  background-color: var(--gripEarlyDawn, #fff8ea);
  padding: 12px;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.CheckMark {
  color: var(--gripPrimaryGreen, #00b8b7);
  font-size: 56px;
}

@media screen and (max-width: 1024px) {
  .Wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Wrapper {
    padding-top: 20px;
  }
  .Drawer {
    padding: 20px;
  }

  .NoteExisting {
    gap: 16px;
  }
  .FormWrapper {
    max-width: 100%;
  }
  .UploadBtn {
    max-width: 100%;
    width: 100%;
  }
}

.MobileHr {
  display: none;
  height: 1px;
  width: 110%;
  margin-inline-start: -20px;
  background-color: #ebebf0;
  border: 0.5px solid #ebebf0;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .MobileHr {
    display: block;
  }
}
